.root {
  display: flex;
  position: relative;
  flex-direction: row;
  background: var(--token-r-tjKeM_jVvG);
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.1s;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.1s;
  padding: var(--token-3R79TixEu_gC) var(--token-yDHqdh7_hbQs) 12px;
  border: 0px solid var(--token--dClrc7DVEW1);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - var(--token-FJ8jMjeYZWuk));
  width: calc(100% + var(--token-FJ8jMjeYZWuk));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-FJ8jMjeYZWuk);
}
.rootshowStartIcon {
  padding-left: 16px;
}
.rootshowEndIcon {
  padding-right: 16px;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.6;
}
.rootcolor_primary {
  background: #64748b;
  border-style: solid;
  border-color: var(--token--dClrc7DVEW1);
}
.rootcolor_secondary {
  background: var(--token-59GGsVVfALmN);
  border-color: var(--token-WwQ8t54brMb3);
}
.rootoutline_original {
  background: #ffffff;
  border-width: 2px;
  border-color: #737373;
}
.root:hover {
  background: var(--token-Z5oBwfw_Kq-J);
  border-color: var(--token-mlz-wrbVeLuM);
}
.rootcolor_primary:hover {
  background: #94a3b8;
  border-color: #94a3b8;
}
.rootcolor_secondary:hover {
  background: var(--token-NB5UYwNIBWmk);
  border: 3px solid var(--token-N2gchPVabx8S);
}
.root:active {
  background: var(--token-WzjMgmbrKxgG);
  box-shadow: 0px 0px 0px 3px #525252;
  border-color: var(--token-g1fvrMWRPApn);
}
.rootcolor_primary:active {
  background: var(--token-WzjMgmbrKxgG);
  border-width: 3px;
  border-color: var(--token-g1fvrMWRPApn);
}
.rootcolor_secondary:active {
  background: var(--token-d6Ven4_voVHu);
  box-shadow: 0px 0px 0px 3px var(--token-w6SSoONCwoQ_);
  border: 3px solid var(--token-w6SSoONCwoQ_);
}
.root___focusVisibleWithin__focusedWithin:focus-within {
  box-shadow: 0px 0px 0px 3px var(--token-896083jocNJ3);
  background: var(--token-Sk9UsFT5AEP3);
  outline: none;
}
.startIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.startIconContainershowStartIcon {
  display: flex;
}
.startIconContainercolor_primary {
  display: none;
}
.startIconContainercolor_secondary {
  display: none;
}
.slotTargetStartIcon {
  color: var(--token-Aqi38TdTw49c);
}
.slotTargetStartIconcolor_primary {
  color: var(--token-rJBK-5YR39Aq);
}
.slotTargetStartIconcolor_secondary {
  color: var(--token-0FP1dGoN5dqR);
}
.slotTargetStartIconoutline_original {
  color: #737373;
}
.root:hover .slotTargetStartIcon {
  color: var(--token-MQXESv6g7EwR);
}
.rootcolor_primary:hover .slotTargetStartIconcolor_primary {
  color: #ffffff;
}
.root:active .slotTargetStartIcon {
  color: var(--token-E7Oy-f_zeU2E);
}
.root:focus-within .slotTargetStartIcon___focusVisibleWithin__focusedWithin {
  color: var(--token-7ZsGADP2KnAA);
}
.root:focus-within .slotTargetStartIcon___focusVisibleWithin__focusedWithin > *,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > picture
  > img,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetStartIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.svg___8Rx31 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.contentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.root:focus-within .contentContainer___focusVisibleWithin__focusedWithin {
  outline: none;
}
.slotTargetChildren {
  color: var(--token-ask8hXtyYhIU);
  font-weight: 500;
  white-space: pre;
}
.slotTargetChildrencolor_primary {
  color: var(--token-E7Oy-f_zeU2E);
}
.slotTargetChildrencolor_secondary {
  color: var(--token-9h1whT8mBLP7);
}
.slotTargetChildrenoutline_original {
  color: #737373;
}
.root:hover .slotTargetChildren {
  color: var(--token-MQXESv6g7EwR);
}
.rootcolor_primary:hover .slotTargetChildrencolor_primary {
  color: #ffffff;
}
.rootcolor_secondary:hover .slotTargetChildrencolor_secondary {
  color: var(--token-Jpn2jGtq0c-Q);
}
.root:active .slotTargetChildren {
  color: var(--token-E7Oy-f_zeU2E);
}
.rootcolor_secondary:active .slotTargetChildrencolor_secondary {
  color: var(--token-MKOZwGX2c_4K);
}
.root:focus-within .slotTargetChildren___focusVisibleWithin__focusedWithin {
  color: var(--token-OMFBXVjyLAeO);
}
.root:focus-within .slotTargetChildren___focusVisibleWithin__focusedWithin > *,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > picture
  > img,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetChildren___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.endIconContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.endIconContainershowEndIcon {
  display: flex;
}
.endIconContainercolor_primary {
  display: none;
}
.endIconContainercolor_secondary {
  display: none;
}
.slotTargetEndIcon {
  color: var(--token-Aqi38TdTw49c);
}
.slotTargetEndIconcolor_primary {
  color: var(--token-rJBK-5YR39Aq);
}
.slotTargetEndIconcolor_secondary {
  color: var(--token-0FP1dGoN5dqR);
}
.slotTargetEndIconoutline_original {
  color: #737373;
}
.root:hover .slotTargetEndIcon {
  color: var(--token-w5EDi5nTkdEL);
}
.rootcolor_primary:hover .slotTargetEndIconcolor_primary {
  color: #ffffff;
}
.root:active .slotTargetEndIcon {
  color: var(--token-E7Oy-f_zeU2E);
}
.root:focus-within .slotTargetEndIcon___focusVisibleWithin__focusedWithin {
  color: var(--token-7ZsGADP2KnAA);
}
.root:focus-within .slotTargetEndIcon___focusVisibleWithin__focusedWithin > *,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > *,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > picture
  > img,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img,
.root:focus-within
  .slotTargetEndIcon___focusVisibleWithin__focusedWithin
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > picture
  > img {
  outline: none;
}
.svg__mkkJ7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
